*.h5 filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
models/modified_resnet500.001.h5 filter=lfs diff=lfs merge=lfs -text
models/modified_resnet500.001.json filter=lfs diff=lfs merge=lfs -text
models/modified_resnet500.05.h5 filter=lfs diff=lfs merge=lfs -text
models/modified_resnet500.05.json filter=lfs diff=lfs merge=lfs -text
models/modified_vgg160.001.h5 filter=lfs diff=lfs merge=lfs -text
models/modified_vgg160.001.json filter=lfs diff=lfs merge=lfs -text
